.header {
	margin-top: 6rem;
	text-align: center;
}

th { background-color: #F1F1F1; }
.thinbottom  { border-bottom: 1px solid #E1E1E1; }
.thickbottom { border-bottom: 3px solid #E1E1E1; }
.thinright  { border-right: 1px solid #E1E1E1; }
.thickright { border-right: 3px solid #E1E1E1; }
